*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.wrap{
	width: 1400px;
	max-width: 90%;
	margin: 30px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
	height: 500px;
}

.paciente{
	width: 100%;
	background: #fff;
	height: 50px;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}



@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}

.scrollable0
{
    width: 1300px;
    height: 130px;
    overflow:scroll;
}

.scrollable
{
    width: 1300px;
    height: 150px;
    overflow:scroll;
}

.scrollable1
{
    width: 800px;
    height: 250px;
    overflow:scroll;
}

.scrollablet
{
    width: 1300px;
    height: 200px;
    overflow:scroll;
}

span1 {
  display: inline-block;
  width: 500px;
}

.prueba:read-only {
  background-color: red;
  color: white;
}

.tablaSolicitudesConsulta{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaSolicitudesConsulta th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaSolicitudesConsulta td {
    font-family:Arial ;
    font-size: 9px;
    font-weight: bold;
    width:1px;
  }

.tablaSolicitudesConsulta  tr  {
     height:1px ;
 }

.tablaAlmacenDetalle{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaAlmacenDetalle th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaAlmacenDetalle td {
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
    width:1px;
  }

.tablaAlmacenDetalle  tr  {
     height:1px ;
 }

.tablaValidacionDetalle{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaValidacionDetalle th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaValidacionDetalle td {
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
    width:1px;
  }

.tablaValidacionDetalle  tr  {
     height:1px ;
 }


.tablaSolicitud{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaSolicitud th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaSolicitud td {
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
    width:1px;
  }

.tablaSolicitud  tr  {
     height:1px ;
 }

.scrollable5
{
    width: 1300px;
    height: 300px;
    overflow:scroll;
}


.tablaOrdenesCompra{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaOrdenesCompra th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaOrdenesCompra td {
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
    width:1px;
  }

.tablaOrdenesCompra  tr  {
     height:1px ;
 }





.tablaOrdenesCompraConsulta{
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
}

.tablaOrdenesCompraConsulta th {
    font-size: 10px;
     background-color:#55caf3;
     font-weight: bold;
  }

.tablaOrdenesCompraConsulta td {
    font-family:Arial ;
    font-size: 10px;
    font-weight: bold;
    width:1px;
  }

.tablaOrdenesCompraConsulta  tr  {
     height:1px ;
 }

